<% if authenticated? %>

<div class = "username">
<td> <%= current_user.username %>

</td>
</div>
  <a href = '/'><h1>Log Out </h1></a>
<%  else %>
<td>
  <a href = '/'><h1>Log Out </h1></a>
</td>
<% end %>
