<% if authenticated? %>

<div class = "username">
<td> <%= current_user.username %>

</td>
</div>
<div>
  <a href = '/logout'><h1>Log Out </h1></a>
</div>
<form action = '/post/new/<%=@blogs.id%>' method='post'>
  <h6>Create a Post</h6>
<div class = "bubble">
  <textarea name="text" placeholder="text" rows="5"></textarea>
</div>
  <div class= "postit">
    <input type="submit" value="Post">
  </div>
</form>

<%  else %>
<td>
  <a href = '/'><h1>Log Out </h1></a>
</td>
<% end %>



