<a href = '/login'><h1>Login </h1></a>

<p> Space <p>

<div class="portal">
<form action = '/login' method = 'post'>

  <div class= "submit">
    <input type="submit" value="Sign Up">
  </div>

  <input type = 'hidden' name = '_method' value = 'put'/
  >
  <input type = 'text' name = 'username' placeholder = 'username' >
  <br>

  <input type = 'text' name = 'email' placeholder = 'email' >
  <br>

  <input type = 'password' name = 'password' placeholder = 'password' >

</form>
</div>